* {
    margin: 0;
    padding:0;
    font-family: Montserrat,popins, serif;  
} 

                     /* RESUME PAGE */
                /* styles for both mobile and desktop */
            
.resume-container { /* This is the whole background */
    background: rgba(230, 218, 206, 1);
    padding-top: 40px;
    width: 100%;
    padding-bottom: 40px;
}
.page-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}
.page-name {
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
}
.decoration-square {
    width: 18px;
    height: 18px;
    background-color: #0050FF;
    margin-bottom: 4px;
}
.label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.download-resume a {
    padding: 10px 20px;
    background-color: #0050FF;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    border: 2px solid #0050FF;
    border-radius: 25px;
    transition: background-color 0.1s, color 0.1s, transform 0.1s; 
    text-decoration: none;  
    white-space: nowrap;
}
.download-resume a:hover {
    background-color: white;
    color: black;
    border: 2px solid #0050FF;
}
.education-box-header {
    display: flex;
}
.education-box, .job-box {
    border-radius: 15px;
    background-color: white;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    position: relative;
} 
.info-containers { 
    border-radius: 10px;              
    background-color:rgba(230, 218, 206, 1);
    display: flex;
    justify-content: space-evenly;  
    padding-bottom: 30px;  
}
.education-box-header {
    background-color: white;
    border-radius: 15px;
    text-align: center;
    gap: 20px;
    padding-left: 15px;
}
.box-title {
    font-size: 12px;
    padding-top: 10px;    
}
.box-year {
    color: #0050FF;
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
    font-style: semibold;
}
/* The box-description class is also being used in the experience section.*/
.box-description {
    padding-top: 20px;
    padding-left: 15px;  /* Needed for padding on the education containers  description */
    padding-right: 15px;
    line-height: 1.6; 
}
.box-description ul {
    padding-left: 15px;
    line-height: 1.6;
}
.box-description li {
    padding-bottom: 12px;
}

                 /* PROJECTS PAGE   */
                /* styles for both mobile and desktop */

.projects-container {
    background: rgba(230, 218, 206, 1);
    padding-bottom: 40px;
}
.page-name-inner-container {
    font-size: 15px;
    padding-bottom: 80px;
    padding-top: 30px;
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content:center;   
    margin-top: 40px;
}
.project-containers-section {
    display: flex;
    justify-content: space-evenly; 
}
.project-main-container {
    background-color: white;
    padding-bottom: 20px; 
    border-radius: 15px; 
    justify-content: space-evenly;
}
.project-description {
    text-align: justify;
    padding: 20px 50px;
    line-height: 1.6;
}
.project-title h2 {
    color: #0050FF;
    padding-top: 40px; 
    text-align: center;
}
.project-title p {
    color: black;
    font-weight: 300;
    padding-top: 10px;
    text-align: center;
    
}
.project-text-container {
    justify-content: center;
    align-items: center;
}
.project-img-container {
    width: 100%;
    justify-content: center;
}
.project-img-container img {
    width: 80%;  
    height: 100%;
    object-fit: cover;
}
.half-width {
    width: 33%;
}


/* MOBILE */
@media (max-width: 768px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }

                 /* INDEX PAGE MOBILE */

    .square-containers {
        width: 100%;
        position: relative;
    } 
    .white-square {
        height: 200px;
        position: relative;
        background: white;
        justify-content: center;
    }
    .brown-square {
        height: 430px;
        background: rgba(230, 218, 206, 1);
        padding-left: 30px;
        padding-right: 30px;
    }
    .division { 
        height: 300px;
        background-color: rgba(230, 218, 206, 1);
    }
    .picture-square {
        width:90%;
        position: absolute;
        top:27%;
        left:50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        background: #F4ECE6;
        box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.1);
        align-items: center;
        justify-content: center;
    }
    .picture-square img {
        width: 40%; 
        border-radius: 50%;
    }
    .name-and-title {
        text-align: center;
        flex-direction: column;
    }
    .name-and-title h1 {
        font-family: "Poppins", serif;
        font-weight: 500;
        font-size:25px;
        padding-top:20px;
        display:block; 
    }
    .name-and-title h2 {
        font-family: "Poppins", serif;
        font-weight: 500;
        font-size:25px;
        display:block; 
    }
    .small-line {
        width: 50%; 
        height: 2px; 
        background-color: #0050FF; 
        border: none; 
        margin:auto;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .icons {
        background-color: white; 
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        justify-content: center; 
        align-items: center;
    }
    .social-media-icons {
        list-style-type: none;
        display: flex; 
        justify-content: center; 
    }
    .social-media-icons li a {
        font-size: 25px; /* Set the icon size */
        color: black;
        padding-right: 20px;
        padding-left: 20px;
    }
    .buttons {
        display: flex; 
        gap: 20px; 
        margin-bottom: 40px;  
    }
    .resume-button {
        padding: 0 30px;
        height: 35px;
        background-color: #0050FF;
        color: white;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: light;
        border: 2px solid #0050FF;
        border-radius: 90px;
        transition: background-color 0.1s, transform 0.1s; 
        text-decoration: none;  
    }
    .resume-button:hover {
        background-color: white;
        color: black;
    }
    .projects-button {
        padding: 0 25px;
        height: 35px;
        background-color: white;
        color: black;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: light;
        border: 2px solid black;
        border-radius: 90px;
        transition: background-color 0.1s, transform 0.1s; 
        text-decoration: none;
    }
    .projects-button:hover {
        background-color: #0050FF;
        color: white;
        border-color: #0050FF;
    }
    .greeting h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 50px;
        padding-top: 20px;
        font-style: normal; 
    }   
    .intro h2 {
        font-family: "Poppins", serif;
        font-weight: 300;
        font-style: normal; 
        padding-top: 10px; 
        padding-bottom: 28px; 
        
    }
    .description p {
        font-family: "Poppins", serif;
        font-weight: 240;
        font-size: 15px;
        text-align:justify;
        padding-bottom: 40px;
    }
    
                        /* RESUME PAGE MOBILE */

    /* Only layout-specific styles for mobile */
    .label {
        width: 85%;
        margin: auto;
        padding: 60px 0px 20px 0px;
    }
    .resume-container .info-containers {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 20px 0px 20px;
    }
    .resume-container .education-box,
    .resume-container .job-box {
        width: 90%;
        margin: 0 auto;
    }
    .job-box-header {
        padding-left: 15px;
    }
    .box-title p {
        font-size: 16px;
        padding: 10px 0px 10px 0px;
    }

                 /* PROJECTS PAGE MOBILE */
    .projects-container {
        padding-top: 20px;
    }
    .project-main-container {
        width: 90%;
        margin-top: 40px;
    }
    .project-containers-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

                     /* FOOTER MOBILE */
    .footer  {
    padding: 20px 20px;
    font-size: 12px;
    justify-content: space-between; 
    }
    .footer-parent {
    display: flex;
    }
    .footer-child {
    width: 50%;
    padding-bottom: 10px;
    }
    .powered-by {
    padding-top: 20px;
    }
    .footer-child .email-info p:first-of-type { 
    font-weight: 600;
    }
    .footer-child .social-media p:first-of-type { 
    font-weight: 600;
    margin-left: 60px;
    }
    .social-media ul {
    display: flex;
    font-size: 20px;
    list-style: none;
    gap: 30px; 
    justify-content: center;
    margin-top: -5px;
    }
    .social-media li i {
    color: black 
    }
    .padding-bottom {
    padding-bottom: 10px;
    }
                   
    
}

/* DESKTOP */
@media (min-width: 769px) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }

             /* INDEX PAGE DESKTOP */

    .square-containers { 
        display: flex;
        position: relative;
    }
    .brown-square {
        width: 45%;
        height: 700px;
        background: rgba(230, 218, 206, 1);
        position: relative;
    } 
    .personal-info-container {
        display: flex;
        width: 800px;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }
    .picture-square {
        width: 50%;
        background: #F4ECE6;
        display: flex;
        flex-direction: column;
        align-items:center;  
        padding-top: 25px; 
        box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); 
        position: relative;
        overflow: hidden;

    }
    .picture-square img{
        width: 45%;
        border-radius: 50%; 
    }
    .name-and-title {
        text-align: center;
        flex-direction: column;
    }
    .name-and-title h1 {
        font-family: "Poppins", serif;
        font-weight: 500;
        font-size:30px;
        padding-top:20px;
        display:block; 
    }
    .name-and-title h2 {
        font-family: "Poppins", serif;
        font-weight: 500;
        font-size:30px;
        display:block; 
    }
    .name-and-title p {
        font-family: "Montserrat", serif;
        font-weight:300;
        font-size: 18px;
        margin-top:40px;
        padding-bottom: 90px;
    }
    .small-line {
        width: 15%; 
        height: 2px; 
        background-color: #0050FF; 
        border: none; 
        margin: 40px auto; 
    }
    .icons {
        background-color: white; 
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        justify-content: center; 
        align-items: center;
    }
    .social-media-icons {
        list-style-type: none;
        display: flex; 
        justify-content: center; 

    } 
    .social-media-icons li a {
        font-size: 25px; /* Set the icon size */
        color: black;
        padding-right: 20px;
        padding-left: 20px;
    }

/* This is the white square that contains my greeting, intro and my professional experience */

    .intro-square {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
    }
    .greeting h1 {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 60px;
        font-style: normal;
        padding-top: 30px; 
        padding-left: 12px; 
    }   
    .buttons {
        display: flex; 
        gap: 20px;   
        padding-left: 12px;
    }

    .resume-button {
        padding: 0 35px;
        height: 35px;
        background-color: #0050FF;
        color: white;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: light;
        border: 2px solid #0050FF;
        border-radius: 90px;
        transition: background-color 0.1s, transform 0.1s; 
        text-decoration: none;  
    }
    .resume-button:hover {
        background-color: white;
        color: black;
    }

    .projects-button {
        padding: 0 35px;
        height: 35px;
        background-color: white;
        color: black;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: light;
        border: 2px solid black;
        border-radius: 90px;
        transition: background-color 0.1s, transform 0.1s; 
        text-decoration: none;
    
    }
    .projects-button:hover {
        background-color: #0050FF;
        color: white;
        border-color: #0050FF;
    }

    .intro h2 {
        font-family: "Poppins", serif;
        font-weight: 300;
        font-style: normal; 
        padding-top: 10px; 
        padding-bottom: 28px; 
        padding-left: 12px; 
    }
    .description p {
        font-family: "Poppins", serif;
        font-weight: 240;
        font-size: 17px;
        font-style: normal;
        padding-top: 28px;
        text-align:justify;
        padding-left: 12px;
        justify-content: flex-end;
    }


                    /* RESUME PAGE DESKTOP */
    .resume-box {
        display: flex;
        padding: 10px;
        align-items: center; 
        margin-top: 40px; 
    }
    .resume-page-name {
        margin-left: auto;
        font-size: 15px;
        padding-bottom: 30px;
        padding-top: 30px;
        display: flex;
        flex-direction: row-reverse;
        text-align: center;
        justify-content: center;
        transform: translateX(80px);
    }
    .resume-square {
        width: 20px; 
        height: 20px;
        background-color: #0050FF;
        margin-top: 10px;
        margin-right: 5px;
    }
    .label {
        width: 93%;
        margin: auto;
        padding: 60px 0px 40px 0px;
    }

    /* These are the containers for education */
    .box-header {
        display: flex;
    }
    .education-box {
        width: 28%;
        border-radius: 15px;
        background-color: white;
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;
        box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.1);
    } 

    /* these are the containers for experience */

    .job-box {
        width: 28%;
        border-radius: 15px;
        background-color: white;
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
        padding-bottom: 25px; 
        box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.1);
    } 
    .job-box-header {
        background-color: white;
        border-radius: 15px;
        display: flex;
        gap: 20px;
        padding-left: 10px;
        
    }
    .box-title p {
    font-size: 17px;
    padding-top: 10px;
    font-weight: 500;
    }
    .hidden-box {
        width: 28%;
        padding: 10px 10px;
        background: transparent;
    }

    /* This is the Projects Page desktop */
    .projects-container {
        padding-top: 40px;
    }
    .project-main-container {
        width: 35%;
        margin-top: 100px;
        margin-bottom: 80px;
    }
}

html, body {
    overflow-x: hidden;
}
