* {
    margin: 0;
    padding:0;
    font-family: Montserrat,popins, serif;  
}




/* this is my header and nav links */
.header {
    width:100%;
    background-position:center;
    position:relative;
    padding-top: 60px;
    padding-bottom: 60px;
}
nav{  
}
.nav-links{
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
}
.nav-links li{
    list-style: none;
    padding-right: 40px;
}
.nav-links li a{
   color: #000000;
   text-decoration: none;
   font-size: 16px; 
}
.nav-links li::after{
   content: "";
   width: 0%;
   height: 2px;
   background: #007BFF;
   display: block;
   margin: auto;
   transition: 0.5s;
}
.nav-links li:hover::after{
    width: 100%;
}


/* This is my two background squares */

.square-containers { 
    display:flex;
    position: relative;
}
.brown-square {
    width: 40%;
    height: 700px;
    background: rgba(230, 218, 206, 1);
} 
.white-square {
    width: 60%;
    height: 700px;
    background:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}





.personal-info-container {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    max-width: 100%;
    max-height: 100%;  
}
.picture-square {
    width: 50%;
    height: 500px;
    background: #F4ECE6;
    display: flex;
    padding-top: 25px;
    flex-direction: column;
    
    align-items:center;
    
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3); 
}
.picture-square img{
    width: 45%;
    border-radius: 50%; 
}
.name-and-title {
    text-align: center;
    flex-direction: column;
}
.name-and-title h1 {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size:30px;
    padding-top:20px;
    display:block; 
}
.name-and-title h2 {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size:30px;
    display:block;
    
}
.name-and-title p {
    font-family: "Montserrat", serif;
    font-weight:300;
    font-size: 18px;
    margin-top:40px;
    padding-bottom: 36px;
}
.small-line {
    width: 20%; 
    height: 2px; 
    background-color: #007BFF; 
    border: none; 
    margin: 40px auto; 
}
.icons {
   background-color: white; 
   width: 100%;
   padding-top: 20px;
   padding-bottom: 20px;
   justify-content: center; 
   align-items: center;
}
.social-media-icons {
    list-style-type: none;
    display: flex; 
    justify-content: center; 

}  
.social-media-icons li a {
    font-size: 25px; /* Set the icon size */
    color: black;
    padding-right: 20px;
    padding-left: 20px;
}



/* This is the white square that contains my greeting, intro and my professional experience */

.intro-square {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    text-align: left;
    padding: 0 20px;
    
}
.greeting {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
    padding-top: 30px;
    padding-left: 12px;
}
    
.buttons {
    display: flex; 
    justify-content: left; 
    gap: 20px;
    padding-left: 12px;
}

.resume-button {
    padding: 0 35px;
    height: 35px;
    background-color: #007BFF;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: light;
    border: 2px solid #007BFF;
    border-radius: 90px;
    transition: background-color 0.1s, transform 0.1s; 
    text-decoration: none;  
}
.resume-button:hover {
    background-color: white;
    color: black;
}

.projects-button {
    padding: 0 35px;
    height: 35px;
    background-color: white;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: light;
    border: 2px solid black;
    border-radius: 90px;
    transition: background-color 0.1s, transform 0.1s; 
    text-decoration: none;
   
}
.projects-button:hover {
    background-color: #007BFF;
    color: white;
    border-color: #007BFF;
}

.intro {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal; 
    padding-top: 10px; 
    padding-bottom: 28px; 
    padding-left: 12px;
}
.description p {
    font-family: "Poppins", serif;
    font-weight: 240;
    font-size: 17px;
    font-style: normal;
    padding-top: 28px;
    text-align:justify;
    padding-left: 12px;
    justify-content: flex-end;
}


/* Year and My Name */

.powered-by {
    margin-left: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 14px;
    flex-direction:flex-end;
}



/* This is the resume page */

.resume-container { /* This is the whole background */
    background: rgba(230, 218, 206, 1);
    padding-top: 20px;
}
.resume-box {
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;  
}
.resume-page-name {
    margin-left: auto;
    font-size: 15px;
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: center;
    transform: translateX(80px);
}
.resume-square {
    width: 20px; 
    height: 20px;
    background-color: #0050FF;
    margin-top: 10px;
    margin-right: 5px;
}

/* This is for the download resume button */

.download-button {
    margin-left: auto;
    padding-right: 70px;
    padding-top: 25px;
}
.download-resume a {
    margin-left: auto;
    padding: 10px 12px;
    background-color: #0050FF;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 200;
    border: 2px solid #0050FF;
    border-radius: 25px;
    transition: background-color 0.1s, transform 0.1s; 
    text-decoration: none;  
}
.resume-button:hover a {
    background-color: white;
    color: black;
}




.label {
    padding-left: 60px;
    padding-bottom: 50px;
    padding-top: 20px;
}
/* These are the containers for education */

.education-box-header {
    display: flex;
}
.education-box {
    width: 28%;
    border-radius: 15px;
    background-color: white;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);
} 
.info-containers { 
    border-radius: 10px;              
    background-color:rgba(230, 218, 206, 1);
    display: flex;
    justify-content: space-evenly;  
    padding-bottom: 60px;  
}
.education-box-header {
    background-color: white;
    border-radius: 15px;
    text-align: center;
    justify-content:flex-start;
    gap: 20px;
    padding-left: 15px;
}
.box-title {
    font-size: 12px;
    padding-top: 10px;    
}
.box-year {
    color: #0050FF;
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
    font-style: semibold;
}
/* The box-description class is also being used in the experience section.*/
.box-description {
    padding-top: 20px;
    padding-left: 15px;  /* Needed for padding on the education containers  description */
    padding-right: 15px;
    line-height: 1.6; 
}
.box-description ul {
    padding-left: 15px;
    line-height: 1.6;
    
}
.box-description li {
    padding-bottom: 12px;
}


/* these are the containers for experience */


.job-box {
    width: 28%;
    border-radius: 15px;
    background-color: white;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px; 
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);
} 
.job-box-header {
    background-color: white;
    border-radius: 15px;
    display: flex;
    gap: 20px;
    padding-left: 10px;
    
}
.box-title p {
   font-size: 17px;
   padding-top: 10px;
   font-weight: 500;
}
.hidden-box {
    width: 28%;
    padding: 10px 10px;
    background: transparent;
}


/* This is the skills container */
.skills-language-box {
    background-color: white;
    border-radius: 15px;
    width: 28%; 
    padding-top: 20px;
    padding-bottom: 20px;  
    padding-left: 15px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);
    font-family: "Poppins", serif;
    font-size: 16px;
}
.skills ul {
    padding-left: 30px;
    padding-right: 20px;
    line-height: 1.6;
}
.skills li {
    padding-bottom: 12px;
}

/* This is the Projects Page */


.projects-background-container {
    background: rgba(230, 218, 206, 1);
    padding-top: 20px;
}
.projects-page-name {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.page-name-inner-container {
    font-size: 15px;
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content:center;   
}
.projects-square {
    width: 20px; 
    height: 20px;
    background-color: #0050FF;
    margin-top: 10px;
    margin-right: 5px;
}

/* This is every project container */

.project-containers {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-evenly;  
}
.projects-container-inner {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}
.project-title {
    padding-top: 20px;
}
.project-box {
    display: flex;
    background-color: white;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3);   
}
.project-info { 
    width: 60%;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}
.project-picture {
    width: 50%;
    background-color: black;
    justify-content:space-between;   
}
.project-description {
   
    padding: 20px 20px;
    text-align:justify;
    
}

