* {
    margin: 0;
    padding:0;
    font-family: Montserrat,popins, serif;
    border: 2px solid red;
}


/* this is my header and nav links */
.header {
    width:100%;
    background-position:center;
    position:relative;
    padding-top: 60px;
    padding-bottom: 60px;
}
nav{  
}
.nav-links{
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
}
.nav-links li{
    list-style: none;
    padding-right: 40px;
}
.nav-links li a{
   color: #000000;
   text-decoration: none;
   font-size: 16px; 
}
.nav-links li::after{
   content: "";
   width: 0%;
   height: 2px;
   background: rgb(230, 218, 206);
   display: block;
   margin: auto;
   transition: 0.5s;
}
.nav-links li:hover::after{
    width: 100%;
}


/* This is my two background squares */

.square-containers { 
    display:flex;
    position: relative;
}
.brown-square {
    width: 40%;
    height: 700px;
    background: rgba(230, 218, 206, 1);
    margin-left:20px;
} 
.white-square {
    width: 60%;
    height: 700px;
    background:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}





.personal-info-container {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    border: 5px solid orange;
}
.picture-square {
    width: 50%;
    height: 500px;
    background: #F4ECE6;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    padding-top:30px;
    border: 4px solid green;
}
.picture-square img{
    width: 45%;
    border-radius: 50%; 
}
.name-and-title {
    text-align: center;
    flex-direction: column;
}
.name-and-title h1 {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size:30px;
    margin-top:20px;
    display:block; 
}
.name-and-title h2 {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size:30px;
    margin-top:7px;
    display:block;
    
}
.name-and-title p {
    font-family: "Montserrat", serif;
    font-weight:300;
    font-size: 18px;
    margin-top:40px;
}
.small-line {
    width: 20%; 
    height: 2px; 
    background-color:navy; 
    border: none; 
    margin: 40px auto; 
}


/* This is the white square that contains my greeting, intro and my professional experience */

.intro-square {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    border: 4px solid red;
    text-align: left;
    padding: 0 20px;
    
}
.greeting {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}
    
.buttons {
    display: flex; 
    justify-content: left; 
    gap: 20px;
}

.resume-button {
    padding: 0 35px;
    height: 35px;
    background-color: #007BFF;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: light;
    border: 2px solid #007BFF;
    border-radius: 90px;
    transition: background-color 0.1s, transform 0.1s; 
    text-decoration: none;
   
}
.resume-button:hover {
    background-color: white;
    color: black;
}

.projects-button {
    padding: 0 35px;
    height: 35px;
    background-color: white;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: light;
    border: 2px solid black;
    border-radius: 90px;
    transition: background-color 0.1s, transform 0.1s; 
    text-decoration: none;
   
}
.projects-button:hover {
    background-color: #007BFF;
    color: white;
    border-color: #007BFF;
}

.intro {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;  
    padding-bottom: 30px; 
}
.description {
    font-family: "Poppins", serif;
    font-weight: 240;
    font-size: 17px;
    font-style: normal;
    padding-top: 40px;
    text-align:justify;
}


/* Year and My Name */

.powered-by {
    margin-left: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 14px;
}



/* This is the resume page */

.resume-container {
    background: rgba(230, 218, 206, 1);
    padding-top: 20px; 
  }
  .resume-page-name {
    list-style: none;
    text-align: center;
    padding-bottom: 30px;
   
  }
  .resume-page-name ul {
    text-align: center; 
  }
  .resume-page-name li {
    font-size: 32px;
    font-weight: bold;
  }
  .resume-page-name li::before {
    content: '';                 
    position: absolute;         
    left: -20%;                    
    top: 50%;                    
    transform: translateY(-50%); 
    width: 18px;                
    height: 18px;                
    background-color: blue;     
    text-align: center;
  }

.education-label {
    padding-left: 30px;
    padding-bottom: 50px;
}
.education-box-header {
    display: flex;
}
.education-box {
    width: 33%;
}
  .education-info-containers { 
    border-radius: 10px;              
    background-color:white;
    display: flex;
  }
  .box-title {
    font-size: 12px;
    font-style: bold;
   
  }
  .box-subtitle {
    color: blue;
    font-size: 18px;
  }
  .description-subtitle {
    
  }